:host {
  display: block;
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#cesiumContainer {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
