@import "tailwindcss";

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@theme {
    --animate-fade-in: fade-in 0.4s ease-out;

    @keyframes fade-in {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
}
